* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section {
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: repeat(4, 8rem);
/*espacement entre les grids*/
    grid-gap: 2rem;
/*Ajouter une perspective*/
    perspective: 800px;
}
h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:brown;
}
.card {
    position: relative;
    /*transformation de l'autre face */
    transform-style: preserve-3d;
    /* Temps retournement */
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /*Rotation 180 degré
    transform:rotateY(180deg);(?)*/
    box-shadow: rgba(0,0,0,0.2) 0px 5px 15px;
}
.face,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}
.back{
    background: url("assets/img/belleBall.jpeg");
    backface-visibility: hidden;
}

/*Basculer au clic*/
.toggleCard {
    transform: rotateY(180deg);
}
.face {
    transform: rotateY(-180deg);
}